@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap" rel="stylesheet');

@font-face {
  font-family: "MicroExtendFLF";
  src: local("MicroExtendFLF"),
    url(../assets/fonts/MicroExtendFLF.ttf) format("truetype");
}

@font-face {
  font-family: "MicroExtendFLF-Bold";
  src: local("MicroExtendFLF-Bold"),
    url(../assets/fonts/MicroExtendFLF-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "MicroExtendFLF-Italic";
  src: local("MicroExtendFLF-Italic"),
    url(../assets/fonts/MicroExtendFLF-Italic.ttf) format("truetype");
}

@font-face {
  font-family: "MicroExtendFLF-BoldItalic";
  src: local("MicroExtendFLF-BoldItalic"),
    url(../assets/fonts/MicroExtendFLF-BoldItalic.ttf) format("truetype");
}

$font-MicroExtendFLF: "MicroExtendFLF";
$font-raleway: "Raleway", sans-serif;
$font-michroma: "Michroma", sans-serif;
