@import "./colors";
@import "./mixins";
@import "./fonts";

.featured-container {
  background-color: $main-color;
  width: 100%;
  height: 100%;
  padding: 1.5rem;

  h1 {
    text-align: center;
    padding-bottom: 3rem;
  }

  .products {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 250px);
    gap: 1.5rem 5rem;

    .product {
      width: 100%;
      height: 100%;
      cursor: pointer;

      img {
        width: 100%;
        height: 80%;
        object-fit: cover;
        border-radius: 10px;
      }

      .details {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }
  }
}
