@import "./colors";
@import "./mixins";
@import "./fonts";

.header {
  position: sticky;
  top: 0;
  z-index: 100;

  nav {
    @include flex-center;
    justify-content: space-between;
    height: 4rem;
    background-color: $main-color;

    .ul-items {
      list-style: none;

      .li-items {
        a {
          text-decoration: none;
          color: $secondary-color;
          margin: 0 1rem;
          font-size: 15px;
        }
        .highlight {
          color: $dominant-color;
        }
      }
    }
    .logo {
      text-transform: uppercase;
      margin-right: 3rem;

      img {
        width: 260px;
      }
    }
    .right {
      @include flex-center;

      .search {
        @include flex-center;
        margin-right: 1rem;
        padding: 2px 10px;
        border-radius: 12px;
        border: 1px solid $secondary-color;
        background-color: $domi-color;

        .search-icon {
          font-size: 20px;
          cursor: pointer;
          color: $secondary-color;
        }

        .search-btn {
          background: none;
          border: none;
          cursor: pointer;
          font-size: 15px;
          font-weight: 400;
        }
      }
      .right-btns {
        @include flex-center;
        margin-right: 1rem;

        button {
          margin: 0 1rem;
          border: none;
          background: none;
          cursor: pointer;

          a {
            text-decoration: none;
            color: $secondary-color;
            font-size: 15px;
          }
        }
        .basket {
          color: $dominant-color;
          cursor: pointer;
          font-size: 28px;
        }
      }
    }
  }
}
