@import "./colors";
@import "./mixins";
@import "./fonts";

.sidebar {
  background: $cream-color;
  width: 15%;
  height: 100vh;
  position: fixed;
  top: 0;
  padding-left: 2%;
  padding-top: 80px;
  z-index: -1;
}
